
// media queries sizes

$xs: 320px;
$sm: 425px;
$md: 768px;
$lg: 1024px;

// Fonts import
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Dosis|Abel');


// Font-Colors
$color-default: red;


// Background-colors
$bg-default: white;
$bg-linear-gradient: linear-gradient(to top, #95C1D2 1%, white 25%);

// Box shadow
$box-shadow-default: 0 0 11px rgba(0, 0, 0, 0.2);


// Borders

$border-alpha-wide: 5px solid rgba(0,0,0,0.051);
$border-alpha-narrow: 1px solid rgba(0, 0, 0, 0.2);

.clear-style {
    padding: 0;
    list-style-type: none;
}

// transitions
$transition-default: all, 0.5s;

// spacing
.x-space {
    margin: 0 1em;
}
.x-space-child {
    & > * {
    margin: 0 0.2em;
    }
}