
@import 'typorgaphy';
@import 'devices';    

// media queries sizes


// Background colors:
$bg-default: white;
$bg-linear-gradient: linear-gradient(to top, #95C1D2 1%, white 25%);
$bg-login: linear-gradient(to top, #95C1D2 1%, white 55%);
// kid-detailes background
$bg-present: linear-gradient(to top, rgba(0, 155, 2, 0.7) 1%, lightgreen 0.5em, rgba(0, 155, 2, 0.7) 50%);
$bg-absent: linear-gradient(to top, rgba(200, 0, 0, 1) 1%, lightcoral 0.5em, rgba(230, 0, 0, 0.9) 18em);

// Box shadow
$box-shadow-default: 0 0 11px rgba(0, 0, 0, 0.2);

// Borders
$border-alpha-wide: 5px solid rgba(0,0,0,0.051);
$border-alpha-narrow: 1px solid rgba(0, 0, 0, 0.1);

// ul styling
.clear-style {
    padding: 0;
    list-style-type: none;
}
.clear-style-nav {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    li {
        margin: 0.1em 0;
    }
}
// transitions
$trans-default: all, 0.5s;

// spacing
.x-space {
    margin: 0 1em;
}
.x-space-child {
    & > * {
    margin: 0 0.2em;
    }
}

// -------------------------- VISIBILITY SETTINGS --------------------------

.hidden {
    display: none;
}

.visible {
    display: initial;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.flex {
    display: flex;
}

.spread {
    justify-content: space-between;
}

.middle {
    align-items: center;
}

//-------------------------buttons-------------------
.ctrl-icons {
  position: relative;
  top: -1em;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; // option icons
  .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.2vw;
    padding: 0.8vw; //0.4em;
    width: 2vw;
    height: 2vw;
    background: rgba(255, 255, 255, 0.6);
    color: $color-default-faded;
    font-size: 2vw;
    box-shadow: 0 0 5px 1px #376283;
    border-radius: 50%;
    cursor: pointer;
    transition: $trans-default;
    &:hover {
      color: $color-default;
      transition: $trans-default;
    }
    @media screen and (max-width: $sm) {
      font-size: 3.4vw;
      padding: 2.0vw;
    }
    @media screen and (max-width: $sm) {
      font-size: 5.4vw;
      padding: 4.0vw;
    }
  }
  .sm-icon {
    display: none;
    @media screen and (max-width: $sm) {
      display: flex;
    }
  }
  @media screen and (max-width: $sm) {
    width: 75vw;
  }
}